*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vollkorn', serif;
  letter-spacing: 0;
}


#home {
  width: 98.7vw;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  #myVideo {
    right: 0;
    bottom: 0;
    width: 120%;
    height: 138vh;
  }
  .content {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    &::after {
      content: "";
      background-color: #0a0a47;
      opacity: .8;
      width: 98.7vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
    }
    nav {
      padding: 0px 120px 10px 120px;
      height: 50px;
      .container-fluid {
        .collapse {
          .navbar-nav {
            .nav-item {
              margin-top: 10px;
              .nav-link {
                margin-left: 50px;
                margin-top: 10px;
                color: #fff;
                
              }
            }
          }
          .btn{
            margin-left: 250px;
            margin-top: 10px;
            background-color: #0a0a47;
            color: #fff;
          }
        }
      }
    }
    .home-content{
      z-index: 1;
      position: relative;
      .row{
        padding: 150px;
        width: 100%;
        .home{
          margin-top: 100px;
          h1{
            color: rgb(247, 184, 12);
            font-weight: bolder;
          }
          p{
            text-align: justify;
          }
          .row{
            
            padding: 0 !important;
            .col-4{
              img{
                filter: grayscale(100%);
                
              }
              .img1{
                width: 100%;
                height: 100;
              }
              .img2{
                width: 100%;
                height: 60%;
                margin-top: 20px;
              }
              .img3{
                width: 80%;
                height: 60%;
                margin-top: 20px;
              }
            }
          }
        }
        .home-image{
          .gallery-container{
            position: relative;
            max-width: 600px;
            height: 350px;
            overflow: hidden;
            margin: 50px auto 0 auto;
            transform: translate3d(0,0,0);
            img{
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: -50%;
              max-width: 100%;
              animation-name: gallery;
              animation-duration: 10s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
              animation-timing-function: linear;
              &:nth-child(1){
                z-index: 4;
              }
              &:nth-child(2){
                animation-delay: 2.5s;
                z-index: 3;
              }
              &:nth-child(3){
                animation-delay: 5s;
                z-index: 2;
              }
              &:nth-child(4){
                animation-delay: 7.5s;
                z-index: 1;
              }
              @keyframes gallery {
                0%{
                  opacity: 1;
                }
                25%{
                  opacity: 0;
                }
                50%{
                  opacity: 0;
                }
                75%{
                  opacity: 0;
                }
                100%{
                  opacity: 1;
                }
              }
              
            }
          }
        }
      }
    }
  }
}

#schedule{
  padding: 0px 170px 0 120px;
  position: absolute;
  margin-top: -100px;
  width: 98.7vw;
  .container{
    padding: 30px;
    width: 100%;
    .row{
      background-color: #fff;
      box-shadow: 1px 1px 1px lightgray;
      border-radius: 5px;
      padding: 15px;
      .col-6{
        
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        &:nth-child(1){
          border-right: 1px solid lightgrey;
        }
        .btn{
          height: 50px;
          border: 1px solid #0d6efd;
          margin-left: 20px;
          a{
            color: #0d6efd;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#course-details{
  width: 100%;
  height: 50vh;
  position: absolute;
  z-index: 1;
  background-image: url(../../background-images/SVG/global-navigation.svg);
  background-repeat: repeat;
  padding: 0 170px 0 135px;
  // .container{
  //   width: 100%;
  //   height: 35%;
  //   padding: 0 !important;
  //   background-image: url(../../background-images/bg5.2.webp);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   img{
  //     width: 100%;
  //     height: 100%;
      
  //   }
  //   p{
  //     color: #fff;
  //   }
  //   .speech{
  //     width: 100%;
  //     height: 100%;
  //     padding: 50px;
  //     background-image: url(../../background-images/bg5.jpg);
  //     background-size: cover;
  //     clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
  //     position: relative;
  //     .fa-solid{
  //       color: #fff;
  //     }
  //     hr{
  //       width: 20%;
  //       height: 3px;
  //       background-color: rgb(255, 94, 0);
  //       opacity: 1;
  //     }
  //   }
  //   .image{
  //     width: 100%;
  //     height: 100%;
  //     clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
  //   }
  // }
  .container-2{
    margin-top: 100px;
    h1,
    p{
      text-align: center;
    }
    .row{
      padding: 0 10px;
      .col-3{
        width: 510px;
        height: 100px;
        background-color: #fff;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px lightgray;
        border: 1px solid lightgray;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        align-items: center;
        &:nth-child(2){
          margin-left: 10px;
        }
        &:nth-child(4){
          margin-left: 10px;
        }
        &:hover{
          box-shadow: none;
        }
        p{
          text-align: left;
          margin: 20px;
          span{
            font-size: 13px;
            font-weight: bold;
          }
        }
        .icon{
          .fa-solid{
            font-size: 30px;
          }
        }
      }
      
    }
  }
}

#gallery{
  height: 80vh;
  width: 98.7vw;
  margin-top: 0px;
  background-image: url(../../background-images/SVG/global-navigation.svg);
  background-repeat: repeat;
  .container-3{
    width: 100%;
    height: 100%;
    .row{
      width: 100.8%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
      .grid-1{
        width: 50%;
        height: 100%;
        padding: 0;
        .single{
          width: 99%;
          height: 50%;
        }
        .group-1{
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;
          height: 50%;
          .image-1, .image-2{
            width: 98%;
            height: 98%;
          }
        }
      }
      .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        height: 100%;
        padding: 0;
        .single2{
          width: 99%;
          height: 100%;
        }
        .group-2{
          display: grid;
          
          grid-template-rows: 1fr 1fr;
          width: 100%;
          height: 100%;
          .image-3{
            width: 100%;
            height: 98%;
          }
          .image-4{
            width: 100%;
            height: 100;
          }
        }
      }
    }
  }
  .container-4{
    margin-top: 100px;
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }
    .container-fluid{
      border-radius: 10px;
      margin: 50px 170px 0 135px;
      width: 76%;
      height: 100px;
      background-color: #f1f1f1;
      box-shadow: 1px 1px -1px 2px lightgray;
      position: absolute;
      z-index: 1;
      .row{
        .col-2, .col-3, .col-1{
          height: 100px;
          padding: 15px;
          border-radius: 10px;
          p{
            text-align: left;
          }
          h5{
            margin-top: 30px;
          }
          .btn{
            margin-top: 15px;
          }
        }
      }
    }
  }
}

#curriculum{
  margin-top: 450px;
  img{
    width: 100%;
    height: 100%;
  }
  .unit-1{
    width: 98.7vw;
    height: 140vh;
    background-color: #0a0a47;
    margin-top: 0px;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding: 150px 170px 0 135px;
    .row{
      h3{
        color: #fff;
      }
      .col-6{
        p, h1, h6{
          color: #fff;
        }
      }
      .col-4{
        h5, p{
          color: #fff;
        }
        .fa-solid{
          color: yellow;
          font-size: 50px;
        }
      }
    }
  }
  .unit-2{
    width: 98.7vw;
    height: 130vh;
    background-color: #fff;
    padding: 150px 170px 0 135px;
    .fa-solid{
      font-size: 50px;
      color: #0a0a47;
    }
  }
  .unit-3{
    width: 98.7vw;
    height: 200vh;
    background-color: #0a0a47;
    padding: 150px 170px 0 135px;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
    .fa-solid{
      color: yellow;
      font-size: 50px;
    }
    h5, h3, p, h1, h6{
      color: #fff;
    }
  }
}

#portfolio{
  width: 98.7vw;
  height: 110vh;
  background-color: #fff;
  padding: 150px 200px 0 135px;
  .row{
    .col-6{
      background-color: #fff;
      padding: 30px;
      width: 50%;
      &:nth-child(2){
        margin-top: -100px;
        padding: 0 !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img{
          width: 100%;
          height: 100%;
        }
        .group{
          display: grid;
          grid-template-rows: 1fr 1fr;
        }
      }
      hr{
        width: 20%;
        height: 2%;
        background-color: rgb(255, 94, 0);
        opacity: 1;
      }
    }
  }
}

#help{
  margin-top: 50px;
  width: 98.7vw;
  height: 50vh;
  padding: 100px 135px;
  background-image: url(../../background-images/bg-7.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  color: #f1f1f1;
  &::after {
    content: "";
    background-color: #0a0a47;
    opacity: .8;
    width: 98.7vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  h1{
    z-index: 1;
    position: relative;
  }
}

footer{
  width: 98.7vw;
  background-color: #0a0a47;
  padding: 50px 170px 0 120px;
  margin-top: 350px;
  .row{
      h3, p{
          color: #fff;
          text-align: center;
          a{
              color: #fff;
          }
      }
      .col-6{
          h1{
              margin-top: 110px;
              color: #fff;
          }
          h6{
              color: #fff;
              .fa-solid{
                  color: goldenrod;
              }
          }
          form{
              padding: 20px;
              background-color: #111;
              width: 100%;
              height: 100%;
              border-top: 5px solid goldenrod;
              border-radius: 10px;
              .form-control{
                  height: 50px;
              }
              .btn{
                  width: 100%;
              }
          }
      }
  }
  .row{
      .col-3{
          &:nth-child(1){
              display: grid;
              align-items: center;
          }
          h6{
              color: #fff;
          }
          ul{
              li{
                  list-style: none;
                  a{
                      text-decoration: none;
                      color: #fff;
                      &:hover{
                          color: gray;
                      }
                  }
              }
          }
      }
  }
  .copy{
      display: grid;
      justify-content: center;
      p{
          color: #fff;
      }
  }
}