* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vollkorn", serif;
  letter-spacing: 0;
}

#home {
  width: 98.7vw;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
#home #myVideo {
  right: 0;
  bottom: 0;
  width: 120%;
  height: 138vh;
}
#home .content {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}
#home .content::after {
  content: "";
  background-color: #0a0a47;
  opacity: 0.8;
  width: 98.7vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#home .content nav {
  padding: 0px 120px 10px 120px;
  height: 50px;
}
#home .content nav .container-fluid .collapse .navbar-nav .nav-item {
  margin-top: 10px;
}
#home .content nav .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  margin-left: 50px;
  margin-top: 10px;
  color: #fff;
}
#home .content nav .container-fluid .collapse .btn {
  margin-left: 250px;
  margin-top: 10px;
  background-color: #0a0a47;
  color: #fff;
}
#home .content .home-content {
  z-index: 1;
  position: relative;
}
#home .content .home-content .row {
  padding: 150px;
  width: 100%;
}
#home .content .home-content .row .home {
  margin-top: 100px;
}
#home .content .home-content .row .home h1 {
  color: rgb(247, 184, 12);
  font-weight: bolder;
}
#home .content .home-content .row .home p {
  text-align: justify;
}
#home .content .home-content .row .home .row {
  padding: 0 !important;
}
#home .content .home-content .row .home .row .col-4 img {
  filter: grayscale(100%);
}
#home .content .home-content .row .home .row .col-4 .img1 {
  width: 100%;
  height: 100;
}
#home .content .home-content .row .home .row .col-4 .img2 {
  width: 100%;
  height: 60%;
  margin-top: 20px;
}
#home .content .home-content .row .home .row .col-4 .img3 {
  width: 80%;
  height: 60%;
  margin-top: 20px;
}
#home .content .home-content .row .home-image .gallery-container {
  position: relative;
  max-width: 600px;
  height: 350px;
  overflow: hidden;
  margin: 50px auto 0 auto;
  transform: translate3d(0, 0, 0);
}
#home .content .home-content .row .home-image .gallery-container img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  max-width: 100%;
  -webkit-animation-name: gallery;
          animation-name: gallery;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#home .content .home-content .row .home-image .gallery-container img:nth-child(1) {
  z-index: 4;
}
#home .content .home-content .row .home-image .gallery-container img:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  z-index: 3;
}
#home .content .home-content .row .home-image .gallery-container img:nth-child(3) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  z-index: 2;
}
#home .content .home-content .row .home-image .gallery-container img:nth-child(4) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
  z-index: 1;
}
@-webkit-keyframes gallery {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gallery {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#schedule {
  padding: 0px 170px 0 120px;
  position: absolute;
  margin-top: -100px;
  width: 98.7vw;
}
#schedule .container {
  padding: 30px;
  width: 100%;
}
#schedule .container .row {
  background-color: #fff;
  box-shadow: 1px 1px 1px lightgray;
  border-radius: 5px;
  padding: 15px;
}
#schedule .container .row .col-6 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
#schedule .container .row .col-6:nth-child(1) {
  border-right: 1px solid lightgrey;
}
#schedule .container .row .col-6 .btn {
  height: 50px;
  border: 1px solid #0d6efd;
  margin-left: 20px;
}
#schedule .container .row .col-6 .btn a {
  color: #0d6efd;
  text-decoration: none;
}

#course-details {
  width: 100%;
  height: 50vh;
  position: absolute;
  z-index: 1;
  background-image: url(../../background-images/SVG/global-navigation.svg);
  background-repeat: repeat;
  padding: 0 170px 0 135px;
}
#course-details .container-2 {
  margin-top: 100px;
}
#course-details .container-2 h1,
#course-details .container-2 p {
  text-align: center;
}
#course-details .container-2 .row {
  padding: 0 10px;
}
#course-details .container-2 .row .col-3 {
  width: 510px;
  height: 100px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px lightgray;
  border: 1px solid lightgray;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
}
#course-details .container-2 .row .col-3:nth-child(2) {
  margin-left: 10px;
}
#course-details .container-2 .row .col-3:nth-child(4) {
  margin-left: 10px;
}
#course-details .container-2 .row .col-3:hover {
  box-shadow: none;
}
#course-details .container-2 .row .col-3 p {
  text-align: left;
  margin: 20px;
}
#course-details .container-2 .row .col-3 p span {
  font-size: 13px;
  font-weight: bold;
}
#course-details .container-2 .row .col-3 .icon .fa-solid {
  font-size: 30px;
}

#gallery {
  height: 80vh;
  width: 98.7vw;
  margin-top: 0px;
  background-image: url(../../background-images/SVG/global-navigation.svg);
  background-repeat: repeat;
}
#gallery .container-3 {
  width: 100%;
  height: 100%;
}
#gallery .container-3 .row {
  width: 100.8%;
  height: 100%;
}
#gallery .container-3 .row img {
  width: 100%;
  height: 100%;
}
#gallery .container-3 .row .grid-1 {
  width: 50%;
  height: 100%;
  padding: 0;
}
#gallery .container-3 .row .grid-1 .single {
  width: 99%;
  height: 50%;
}
#gallery .container-3 .row .grid-1 .group-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 50%;
}
#gallery .container-3 .row .grid-1 .group-1 .image-1, #gallery .container-3 .row .grid-1 .group-1 .image-2 {
  width: 98%;
  height: 98%;
}
#gallery .container-3 .row .grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  height: 100%;
  padding: 0;
}
#gallery .container-3 .row .grid-2 .single2 {
  width: 99%;
  height: 100%;
}
#gallery .container-3 .row .grid-2 .group-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}
#gallery .container-3 .row .grid-2 .group-2 .image-3 {
  width: 100%;
  height: 98%;
}
#gallery .container-3 .row .grid-2 .group-2 .image-4 {
  width: 100%;
  height: 100;
}
#gallery .container-4 {
  margin-top: 100px;
}
#gallery .container-4 h1 {
  text-align: center;
}
#gallery .container-4 p {
  text-align: center;
}
#gallery .container-4 .container-fluid {
  border-radius: 10px;
  margin: 50px 170px 0 135px;
  width: 76%;
  height: 100px;
  background-color: #f1f1f1;
  box-shadow: 1px 1px -1px 2px lightgray;
  position: absolute;
  z-index: 1;
}
#gallery .container-4 .container-fluid .row .col-2, #gallery .container-4 .container-fluid .row .col-3, #gallery .container-4 .container-fluid .row .col-1 {
  height: 100px;
  padding: 15px;
  border-radius: 10px;
}
#gallery .container-4 .container-fluid .row .col-2 p, #gallery .container-4 .container-fluid .row .col-3 p, #gallery .container-4 .container-fluid .row .col-1 p {
  text-align: left;
}
#gallery .container-4 .container-fluid .row .col-2 h5, #gallery .container-4 .container-fluid .row .col-3 h5, #gallery .container-4 .container-fluid .row .col-1 h5 {
  margin-top: 30px;
}
#gallery .container-4 .container-fluid .row .col-2 .btn, #gallery .container-4 .container-fluid .row .col-3 .btn, #gallery .container-4 .container-fluid .row .col-1 .btn {
  margin-top: 15px;
}

#curriculum {
  margin-top: 450px;
}
#curriculum img {
  width: 100%;
  height: 100%;
}
#curriculum .unit-1 {
  width: 98.7vw;
  height: 140vh;
  background-color: #0a0a47;
  margin-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  padding: 150px 170px 0 135px;
}
#curriculum .unit-1 .row h3 {
  color: #fff;
}
#curriculum .unit-1 .row .col-6 p, #curriculum .unit-1 .row .col-6 h1, #curriculum .unit-1 .row .col-6 h6 {
  color: #fff;
}
#curriculum .unit-1 .row .col-4 h5, #curriculum .unit-1 .row .col-4 p {
  color: #fff;
}
#curriculum .unit-1 .row .col-4 .fa-solid {
  color: yellow;
  font-size: 50px;
}
#curriculum .unit-2 {
  width: 98.7vw;
  height: 130vh;
  background-color: #fff;
  padding: 150px 170px 0 135px;
}
#curriculum .unit-2 .fa-solid {
  font-size: 50px;
  color: #0a0a47;
}
#curriculum .unit-3 {
  width: 98.7vw;
  height: 200vh;
  background-color: #0a0a47;
  padding: 150px 170px 0 135px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
}
#curriculum .unit-3 .fa-solid {
  color: yellow;
  font-size: 50px;
}
#curriculum .unit-3 h5, #curriculum .unit-3 h3, #curriculum .unit-3 p, #curriculum .unit-3 h1, #curriculum .unit-3 h6 {
  color: #fff;
}

#portfolio {
  width: 98.7vw;
  height: 110vh;
  background-color: #fff;
  padding: 150px 200px 0 135px;
}
#portfolio .row .col-6 {
  background-color: #fff;
  padding: 30px;
  width: 50%;
}
#portfolio .row .col-6:nth-child(2) {
  margin-top: -100px;
  padding: 0 !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#portfolio .row .col-6:nth-child(2) img {
  width: 100%;
  height: 100%;
}
#portfolio .row .col-6:nth-child(2) .group {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#portfolio .row .col-6 hr {
  width: 20%;
  height: 2%;
  background-color: rgb(255, 94, 0);
  opacity: 1;
}

#help {
  margin-top: 50px;
  width: 98.7vw;
  height: 50vh;
  padding: 100px 135px;
  background-image: url(../../background-images/bg-7.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  color: #f1f1f1;
}
#help::after {
  content: "";
  background-color: #0a0a47;
  opacity: 0.8;
  width: 98.7vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}
#help h1 {
  z-index: 1;
  position: relative;
}

footer {
  width: 98.7vw;
  background-color: #0a0a47;
  padding: 50px 170px 0 120px;
  margin-top: 350px;
}
footer .row h3, footer .row p {
  color: #fff;
  text-align: center;
}
footer .row h3 a, footer .row p a {
  color: #fff;
}
footer .row .col-6 h1 {
  margin-top: 110px;
  color: #fff;
}
footer .row .col-6 h6 {
  color: #fff;
}
footer .row .col-6 h6 .fa-solid {
  color: goldenrod;
}
footer .row .col-6 form {
  padding: 20px;
  background-color: #111;
  width: 100%;
  height: 100%;
  border-top: 5px solid goldenrod;
  border-radius: 10px;
}
footer .row .col-6 form .form-control {
  height: 50px;
}
footer .row .col-6 form .btn {
  width: 100%;
}
footer .row .col-3:nth-child(1) {
  display: grid;
  align-items: center;
}
footer .row .col-3 h6 {
  color: #fff;
}
footer .row .col-3 ul li {
  list-style: none;
}
footer .row .col-3 ul li a {
  text-decoration: none;
  color: #fff;
}
footer .row .col-3 ul li a:hover {
  color: gray;
}
footer .copy {
  display: grid;
  justify-content: center;
}
footer .copy p {
  color: #fff;
}/*# sourceMappingURL=style.css.map */