*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;

}



#home {
  width: 100%;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  #myVideo {
    right: 0;
    bottom: 0;
    width: 120%;
    height: 138vh;
  }
  .content {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100%;

    &::after {
        content: "";
        background-color: #111;
        opacity: .5;
        width: 98.7vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    .navigation{
      nav {
        padding: 0px 120px 10px 120px;
        background-color: #111;
        opacity: .5;
        .container-fluid {
          .collapse {
            margin-left: 200px;
            .navbar-nav {
              .nav-item {
                margin-left: 25px; 
                .nav-link {
                  margin-top: 10px;
                  color: #fff;
                  
                }
              }
            }
            .btn{
              margin-left: 170px;
              margin-top: 10px;
              background-color: #0a0a47;
              color: #fff;
            }
          }
        }
      }
  
      .nav-content {
        position: fixed;
        z-index: 2;
        margin-top: 70px;
        padding: 0 200px 20px 180px;
        height: 55vh;
        display: none;
        background-image: url(global-navigation.svg);
        background-size: contain;
        background-repeat: no-repeat;
        .row {
          .col-4 {
            h3,
            p {
              color: #111;
            }
            h3{
              font-weight: bold;
            }
            .online{
              display: grid;
              grid-template-columns: auto auto;
              justify-content: start;
              .fa-earth-americas{
                color: #111;
                margin-top: 5px;
                font-size: 20px;
              }
              .on-line{
                margin-left: 10px;
                color:#111;
              }
            }
            .online-link{
              text-decoration: none;
              color: #111;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          .col-8 {
            .schools {
              display: grid;
              grid-template-columns: repeat(2, auto);
              height: 60%;
              a{
                text-decoration: none;
                .creative{
                  margin-top: 20px;
                }
                .tech,
                .enterprenuer,
                .creative {
                  width: 300px;
                  height: 70px;
                  background-color: #fff;
                  margin-left: 20px;
                  padding: 20px;
                  display: grid;
                  grid-template-columns: auto auto auto;
                  justify-content: start;
                  border: 1px solid lightgray;
                  border-radius: 5px;
                  box-shadow: 2px 2px 5px black;
                  transition: .4s all ease-in-out;
                  .fa-angle-right{
                    margin-left: 15px;
                    margin-top: 5px;
                    color: #111;
                  }
                  h6{
                    color: #111;
                    text-align: center;
                  }
                  &:hover{
                    box-shadow: none;
                  }
                }
              }
            }
            .more{
              display: grid;
              grid-template-columns: auto auto;
              margin-top: 80px;
              h5{
                color: #111;
              }
            }
            .col-3, .col-5, .col-4{
              ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                li{
                  margin-top: 10px;
                  margin-left: -10px;
                  padding: 0 15px;
                  color: #111;
                  a{
                    text-decoration: none;
                    color: #111;
                    &:hover{
                      color: gray;
                    }
                  }
                }
              }
              h5{
                color: #111;
              }
            }
            .about1, .about2{
              display: grid;
              grid-template-columns: 1fr 1fr;
              a{
                text-decoration: none;
                color: #111;
                transition: .4s all ease-in-out;
                .story,
                .testimonials,
                .careers,
                .media{
                  width: 300px;
                  height: 125px;
                  margin: 10px;
                  padding: 10px;
                  box-shadow: 2px 2px 5px lightgray;
                  border: 1px solid lightgray;
                  transition: .4s all ease-in;
                }
                &:hover{
                  .story,
                  .testimonials,
                  .careers,
                  .media{
                    color: #fff;
                    background-color: #0d6efd;;
                  }
                }
              }
            }
          }
          .col-6{
            .col-8{
              h3, p{
                color: #111;
              }
            }
            .location, .address{
              display: grid;
              grid-template-columns: auto auto;
              justify-content: start;
              color: #111;
              .fa-flag, .fa-location-dot{
                margin-top: 7px;
              }
              .country, .add{
                margin-left: 15px;
              }
            }
            margin-right: 1px solid lightgrey;
            &:nth-child(1){
              border-right: 1px solid lightgrey;
            }
          }
        }
      }
    }
    .home-content{
      z-index: 1;
      position: relative;
      svg {
        transform: rotate(270deg);
        margin: 70px 0 0px 50px;
      }
  
      h1 {
        margin: 50px 0 50px 120px;
        font-size: 70px;
        color: rgb(240, 184, 32);
      }
  
      h4 {
        margin-left: 120px;
      }
  
      .btn {
        margin-left: 120px;
        margin-top: 50px;
        border-radius: 10px;
        background-color: #0a0a47;
        color: #fff;
        &:hover{
          background: transparent;
          border: 1px dashed #0a0a47;
        }
        a{
          text-decoration: none;
          color: #fff;
        }
      }
      .alert{
        width: 50%;
        margin-left: 120px;
        margin-top: 50px;
        border-radius: 10px;
      }
    }
  }
}

#partners{
  width: 100%;
  background-color: #f1f1f1;
  .container-fluid{
    padding: 20px 150px;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid: 5;
    img{
      filter: grayscale(100%);
    }
    .wit{
      
      width: 150px;
      height: 98px;
    }
    .lastveb{
      width: 100px;
      height: 100px;
    }
    .girl-code, .switch{
      width: 150px;
      height: 150px;
      margin-top: -28px;
    }
    .nbcc{
      width: 150px;
      height: 100px;
    }
    .dev-inst{
      width: 200px;
      height: 54px;
      margin-top: 15px;
    }
    .microsoft{
      width: 170px;
      height: 75px;
    }
    .lsetf{
      width: 170px;
      height: 52px;
      margin-top: 20px;
    }
    .learners-corner{
      width: 170px;
      height: 57px;
      margin-top: 20px;
    }
    .pheonix-project{
      width: 100px;
      height: 115px;
    }
  }
}

#courses{
  padding-top: 100px;
  .heading{
    h1{
      text-align: center;
    }
    p{
      text-align: center;
    }
  }
  .container-fluid{
    height: 200vh;
    width: 98.7vw;
    .row{
      width: 100%;
      height: 100vh;
      .faculty-image {
        width: 50%;
        height: 100%;
        background-image: url(tour/tour-5.jpeg);
        padding: 0;
        &::before{
          content: "";
          position: absolute;
          width: 50%;
          height: 100vh;
          backdrop-filter: blur(5px);
      
        }
        .swiper {
          width: 85%;
          height: 85%;
          margin-top: 50px;
          .slide1, .slide2, .slide3, .slide4{
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            .course{
              width: 428px;
              height: 358px;
              background-color: blue;
              border-radius: 10px;
            }
            .data-analysis{
              background-image: url(background-images/data-analysis.png);
            }
            .web-development{
              background-image: url(background-images/web-development.png);
            }
            .cybersecurity{
              background-image: url(background-images/cybersecurity.png);
            }
            .product-design{
              background-image: url(background-images/product-design-2.png);
            }
            .cinematography{
              background-image: url(background-images/cinematography.jpg);
            }
            .post-production{
              background-image: url(background-images/post-production.jpg);
            }
            .script-writing{
              background-image: url(background-images/script-writing.jpg);
            }
            .music-production{
              background-image: url(background-images/music-production.jpg);
            }
          }
        }
      }
    }
    .faculty {
        padding: 250px 100px;
    }
  }
}

#online{
  background-color: #0a0a47;
  width: 100%;
  height: 120vh;
  margin-top: 100px;
  .heading{
    padding: 80px 120px;
    h1{
      text-align: center;
      color: #fff;
    }
    p{
      text-align: center;
      padding-bottom: 100px;
      color: #fff;
    }
  }
  .container-fluid{
    width: 100%;
    margin-top: -315px;
    height: 110vh;
    background-image: url(tour/tour-5.jpeg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(43% 33%, 100% 15%, 100% 100%, 15% 100%);
  }
  .container{
    position: absolute;
    margin-top: -550px;
    padding-left: 120px;
    .online{
      width: 500px;
      height: 500px;
      background-color: #fff;
      border-radius: 5px;
      padding: 50px;
      h3{
        margin-top: 20px;
      }
      hr{
        width: 50px;
        height: 5px;
        background-color: rgb(240, 184, 32);;
        opacity: 1;
      }
      .btn{
        background-color: #0a0a47;
        color: #fff;
      }
    }
  }
}

#gallery{
  %transition_all_03s {
    transition:all .3s ease;
  }
  %backface_visibility_hidden{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
  }
  
  .swiper-container {
    width: 80%;
    height: 100vh;
    // display:inline-block;
    // vertical-align:top;
    float:left;
    transition:opacity .6s ease, transform .3s ease;
    overflow: hidden;
    &.nav-slider{
      width:20%;
      padding-left:5px;
      .swiper-slide{
        cursor:pointer;
        opacity:.4;
        transition:opacity .3s ease;
        &.swiper-slide-active{
          opacity:1;
        }
        .content{
          width:100%;
          .title{
            font-size:20px;
          }
        }
      }
    }
    &:hover{
      .swiper-button-prev,
      .swiper-button-next{
        transform:translateX(0);
        opacity:1;
        visibility:visible;
      }
    }
    &.loading{
      opacity:0;
      visibility:hidden;
    }
  }
  // .swiper-wrapper{
  
  // }
  .swiper-slide{
    overflow: hidden;
    @extend %backface_visibility_hidden;
    .slide-bgimg{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-position:center;
      background-size:cover;
    }
    .entity-img{
      display:none;
    }
    .content{
      position:absolute;
      top:40%;
      left:0;
      width:50%;
      padding-left:5%;
      color:#fff;
      .title{
        font-size:2.6em;
        font-weight:bold;
        margin-bottom:30px;
      }
      .caption{
        display:block;
        font-size:13px;
        line-height:1.4;
        transform:translateX(50px);
        opacity:0;
        transition:opacity .3s ease, transform .7s ease;
        &.show{
          transform:translateX(0);
          opacity:1;
        }
      }
    }
  }
  [class^="swiper-button-"]{
    width:44px;
    opacity:0;
    visibility:hidden;
    @extend %transition_all_03s;
  }
  .swiper-button-prev{
    transform:translateX(50px);
  }
  .swiper-button-next{
    transform:translateX(-50px);
  }
}

#instructors{
  padding: 0 170px 0 120px;
  h1{
    margin-top: 100px;
    text-align: center;
  }
  p{
    text-align: center;
  }
  .slider{
    height: 500px;
    width: 100%;
    position: relative;
    margin: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
    &::before,
    &::after{
      content: "";
      height: 100%;
      width: 15%;
      z-index: 2;
      position: absolute;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    &::before{
      top: 0;
      left: 0;
    }
    &::after{
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
    .slider-track{
      display: flex;
      width: calc(250px * 10);
      animation: scroll 20s linear infinite;
      @keyframes scroll{
        0%{
          transform: translateX(0);
        }
      100%{
          transform: translateX(calc(-250px * 5));
        }
      }
      .slide{
        width: 500px;
        height: 500px;
        display: flex;
        place-items: center;
        padding: 15px;
        perspective: 100px;
        .outer{
          width: 244px;
          height: 400px;
          border: 1px solid lightgray;
          border-radius: 10px;
          .inner{
            width: 244px;
            height: 350px;
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0 51%);
            background-color: rgb(243, 187, 33);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 20px;
            img{
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 68%);
              &:nth-child(2){
                width: 100%;
                height: 100%;
              }
            }
          }
          h3{
            margin-top: -100px;
            margin-left: 20px;
          }
          p{
            margin-left: 20px;
          }
        }
      }
    }
  }
}

#action{
  width: 98.7vw;
  height: 30vh;
  margin-top: 100px;
  .container-fluid{
    padding: 50px 170px 0 120px;
    width: 100%;
    height: 30vh;
    background-image: url(background-images/bg-8.webp);
    background-position: center;
    position: absolute;
    color: #f1f1f1;
    &::after {
      content: "";
      background-color: #0a0a47;
      opacity: .8;
      width: 100%;
      height: 30vh;
      position: absolute;
      top: 0;
      left: 0;
    }
    h1{
      z-index: 1;
      position: relative;
      text-align: center;
    }
  }
}

footer{
  width: 100%;
  background-color: #0a0a47;
  padding: 50px 170px 0 120px;
  .row{
      .col-4{
          &:nth-child(1){
              display: grid;
              align-items: center;
          }
          &:nth-child(4){
              display: grid;
              align-items: center;
          }
          h6{
              color: #fff;
          }
          ul{
              li{
                  list-style: none;
                  a{
                      text-decoration: none;
                      color: #fff;
                      &:hover{
                          color: gray;
                      }
                  }
              }
          }
      }
  }
  .copy{
      display: grid;
      justify-content: center;
      p{
          color: #fff;
      }
  }
}






.animated-icon {
  width: 50px;
  height: 30px;
  color: #111;
  margin: 0 !important;
}



@import './media';